body{
    background-color:  #C796C7;
    
    margin: auto;
    padding: 10px;

}

h1{
    font-weight: bold;
    text-shadow: black;
    text-transform: uppercase;
    margin-left: 10px;
    padding: 5px;
    text-decoration: underline;
}
#asdagzsdv{
    box-shadow: black 10px 10px;
}

div{
    border-radius: 5px;
}
#kepek{
    margin-top: 5px;
    border-radius: 2px;
}
.item, img{
    height: 100% !important;
    width:  100% !important;
    border: 1px solid black;
}
nav{
    border-radius: 5px;
}
.carousel-item{
    height: 700px;
}